body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #505050;
    /* min-height: 100vh; */
    font: 1em arial;
    margin: auto;
}

header {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    background: #505050;
}

input, button {
    padding: 5px 5px;
    margin: 3px 5px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black inset;
}

    button:hover, input[type=submit]:hover {
        background-color: grey;
        color: white;
    }

    input[type=text] {
        max-width: 10rem;
    }

.form-input {
    width: 200px;
    margin-right: 0;
}

.form-button {
    margin-left: 0;
}

.content {
    padding-top: 20px;
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: none
}

.container-left,
.container-right {
  width: 50%;
  display: inline-block;
}

.container-right {
    background-color: rgb(66, 82, 97);
    border: 1px solid lightgray;
    border-bottom: none;
    border-right: none;
    padding-left: 20px;
}
.title {
    border: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

button:hover {
    background: #b2b1b3;
}

input::placeholder {
    color: lightgrey;
}
